.slider-bg {
  background-image: url('/img/bradcam.png');
  background-size: cover;
}

.slider-img {
  opacity: 0.7;
  width: 100%;
}

.name-tag-title {
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 9px;
  margin-top: 100px;
}

.name-tag-position {
  display: flex;
  font-size: 26px;
  font-weight: 400;
  margin-left: 385px;
}

.name-tag-line {
  margin-top: 18px;
  background: #fff;
  width: 25px;
  height: 2px;
}

.slider-icon-div {
  margin-left: 522px;
  display: flex;
}

.slider-icon {
  color: #ffffff;
  width: 30px;
}

@media screen and (max-width: 488px) {
  .name-tag-title {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }

  .name-tag-position {
    margin-left: 140px;
    font-size: 18px;
  }

  .name-tag-line {
    margin-top: 13px;
  }

  .slider-icon-div {
    margin-left: 205px;
  }
}

@media screen and (max-width: 320px) {
  .name-tag-position {
    margin-left: 93px;
  }

  .slider-icon-div {
    margin-left: 162px;
  }
}
