.covid19-main-div {
  color: #000;
  padding: 50px 100px;
  font-family: 'Open Sans', sans-serif;
}

.main-div {
  font-family: 'Open Sans', sans-serif;
}

.main-div-value {
  font-size: 20px;
}

.source-text {
  color: gray;
}

.state-label {
  color: gray;
  font-size: 15px;
}

.img-india-icon {
  margin-top: -7px;  
  height: 38px;
}

@media screen and (max-width: 488px) {
  .state-label {
    font-size: 13px;
  }

  .state-table {
    padding-left: 8px !important;
  }

  .covid19-main-div {
    padding: 50px 10px;
  }

  .main-div {
    margin-top: 10px;
  }
}
